:host {
  display: block;
}

:host {
  display: block;
}

section {
  width: 100%;
  max-width: 100%; /* Adjust the max-width as needed */
  padding: 1rem;
  border: 1px #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap onto new rows */
  justify-content: space-between; /* Distribute space between cards */
}

.card-image {
  width: 100%;
  height: auto;
  display: block;
  max-height: 90%;
  max-width: 90%;
}

.card {
  flex: 0 1 auto; /* Allow cards to shrink and grow as needed */
  width: calc(20% - 20px); /* Adjust the width of each card */
  margin: 10px; /* Add margin between cards */
}
